@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
body {
  font-size: 100%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: whitesmoke;
  background-color: black;
}
/*HEADER*/
#header-nav {
  background-color: antiquewhite;
}
.logo {
  margin-right: 10px;
  clear: right;
}
.title {
  float: right;
  padding: 5px;
}
