@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
body {
  font-size: 100%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: whitesmoke;
  background-color: black;
}
/*HEADER*/
#header-nav {
  background-color: antiquewhite;
}
.logo {
  margin-right: 10px;
  clear: right;
}
h1.title {
  margin-bottom: 0px;
  margin-top: 6px;
  margin-left: 6px;
}
.title {
  float: right;
  padding: 5px;
}
.position-menu {
  display: flex;
  justify-content: space-around;
  font-size: 140%;
}
.text-menu {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 110%;
  color: black;
  width: 150px;
  padding: 5px;
  font-size: 110%;
}

.text-menu p {
  margin-bottom: 0;
  text-align: center;
}
.phone {
  color: orangered;
  font-weight: 600;
}
.navbar-toggler {
  border: 1px solid black;
}
/*END HEADER*/

.img-jumbotron {
  display: none;
}

/**********LARGE DEVICES ONLY**********/
@media (min-width: 1200px) {
  body {
    background-color: black;
  }
  .jumbotron {
    display: flex;
    justify-content: center;
    margin: 15px;
    height: 675px !important;
    background: url(../img/restaurant-1920x.jpg) no-repeat center;
    object-fit: contain;
  }
}
/**********MEDIUM DEVICES ONLY**********/
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron {
    display: flex;
    justify-content: center;
    margin: 15px;
    height: 675px !important;
    background: url(../img/restaurant-1280x.jpg) no-repeat center;
    object-fit: contain;
  }
}
/**********SMALL DEVICES ONLY**********/
@media (min-width: 768px) and (max-width: 991px) {
  .text-menu {
    position: fixed;
    left: 40%;
    top: 4%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 250px;
  }
  .jumbotron {
    display: flex;
    justify-content: center;
    margin: 15px;
    height: 375px !important;
    background: url(../img/restaurant-1280x.jpg) no-repeat center;
    object-fit: contain;
  }
}
/**********EXTRA SMALL DEVICES ONLY**********/
@media (max-width: 767px) {
  .text-menu {
    display: none;
  }

  .jumbotron {
    display: flex;
    justify-content: center;
    margin: 15px;
    height: auto !important;
    object-fit: contain;
  }

  .img-jumbotron {
    display: flex;
    width: 100%;
    height: 300px;
    padding: 0;
    border-radius: 5px;
  }
}
